/* Add this to your component stylesheet or global styles */
p {
  cursor: pointer;
  margin: 0px 15px;
  font-weight: 600;
}

.active {
  background-color: white;
  padding: 10px 25px;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  p {
    margin: 5px 5px;
  }
  .active {
    padding: 5px 15px;
  }
}
